* {
  box-sizing: border-box;
  font-weight: 300;
}

body {
  max-width: 1600px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #81ceff;
}

main {
  /*font-family: 'Alegreya Sans SC', sans-serif;*/
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 150px;
}

.lightweight {

}

nav {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 1% 25%;
  background-color: #00598e;
}

header {
  /*background-color: #0077c0;*/
  background-color: #336699;
  padding-top: 40px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h2 {
  text-align: center;
  font-weight: 300;
}

.project-content {
  width: 40%;
}

.less-margin {
  margin: 5px;
}

.img-parent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

button {
  display: inline-block;
  background: none;
  border-radius: 8px;
  box-shadow: none;
  text-shadow: none;
  border-style: solid;
  border: 1px solid gray;
  padding: 2px 12px;
}

button:hover {
  background-color: #81ceff;
  cursor: pointer;
  cursor: hand;
}

form {
  display: inline-block;
}

img {
  max-width: 100%;
  max-height: 100%;
  margin: auto auto;
  border: 2px solid lightgray;
  border-radius: 5px;
}

nav li {
	display: inline;
	list-style-type: none;
}

.contact-links {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.contact-links > * {
  padding: 0 1em;
}

section {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  /*background-color: #81ceff;*/
  display: flex;
  border-top: lightgray 1px solid;
  flex-wrap: wrap;
  justify-content: space-around;
}

header, section {
  padding-left: 15%;
  padding-right: 15%;
}
.project-header {
  margin: 0;
  padding: 10px 0;
  font-size: 20pt;
  vertical-align: text-bottom;
}

.project-info {
  margin: 10px 0;
  padding: 0;
}

section:nth-child(even) {
  background-color: white;
}

.header-top-container {
  width: 100%;
  text-align: center;
}



@media only screen and (max-width: 768px) {
	header {
    padding: 40px 7% 0;
  }
  section {
    padding: 0 7%;
	}
  nav {
    padding: 1% 15%;
  }
}

@media only screen and (max-width: 600px) {
  .project-content, .header-info, .header-summary {
    width: 100%;
    text-align: center;
  }
  .header-top-container {
    flex-wrap: wrap;
  }
  .project-text {
    order: 1;
  }
  .project-image {
    order: 2;
  }
}
@media only screen and (max-width: 376px) {
	header {
    padding: 40px 0 0;
  }
  section {
    padding: 0 3%;
	}
  nav {
    padding: 1% 0;
  }
}