* {
  box-sizing: border-box;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #81ceff;
}

main {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 50px;
  background-image: url('https://www.transparenttextures.com/patterns/project-paper.png');
  background-color: #ffffff;
}

.self {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border: none;
}

header {
  /*background-color: #0077c0;*/
  background-color: #336699;
  padding-top: 40px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url('https://www.transparenttextures.com/patterns/axiom-pattern.png')
}

h2 {
  text-align: center;
  font-weight: 300;
}

.project-content {
  width: 40%;
}

.less-margin {
  margin: 5px;
}

.img-parent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

button {
  display: inline-block;
  background: none;
  border-radius: 8px;
  box-shadow: none;
  text-shadow: none;
  border-style: solid;
  border: 1px solid gray;
  padding: 2px 12px;
}

button:hover {
  background-color: #81ceff;
  cursor: pointer;
  cursor: hand;
}

form {
  display: inline-block;
}

img {
  max-width: 100%;
  max-height: 100%;
  margin: auto auto;
  border: 2px solid lightgray;
  border-radius: 5px;
  box-shadow: 0px 5px 30px #a9a9a9;
}

nav li {
	display: inline;
	list-style-type: none;
}

.contact-links {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.contact-links > * {
  padding: 0 1em;
}

section {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  /*background-color: #81ceff;*/
  display: flex;
  border-top: lightgray 1px solid;
  flex-wrap: wrap;
  justify-content: space-around;
}

header, section {
  padding-left: 12%;
  padding-right: 12%;
}

.project-header {
  margin: 0;
  padding: 10px 0;
  font-size: 20pt;
  vertical-align: text-bottom;
}

.project-info {
  margin: 10px 0;
  padding: 0;
}

/*section:nth-child(even) {
  background-color: white;
}*/

.header-top-container {
  width: 100%;
  text-align: center;
}



@media only screen and (max-width: 768px) {
  header, section {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media only screen and (max-width: 600px) {
  .project-content, .header-info, .header-summary {
    width: 100%;
    text-align: center;
  }
  .header-top-container {
    flex-wrap: wrap;
  }
  .project-text {
    order: 1;
  }
  .project-image {
    order: 2;
  }
}
@media only screen and (max-width: 376px) {
  header, section {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}